@import 'styles'

.label
  display: inline
  padding: .05em .4em
  font-size: 80%
  font-weight: 500
  line-height: 1
  color: #ffffff
  text-align: center
  white-space: nowrap
  vertical-align: middle
  border-radius: .25em
  text-shadow: 0 1px 0px transparentize(#000,.2)

