=label-variant($color)
  background-color: $color
  &[href]
    &:hover,
    &:focus
      background-color: darken($color, 10%)

.label
  background-color: transparentize(#FFF, .9)

.label-primary
  background-color: $primary

.label-neutral
  background-color: $neutral   
  
.label-info
  background-color: $info

.label-success             
  background-color: $success     

.label-danger
  background-color: $danger

.label-warning
  background-color: $warning      