@font-face
  font-family: 'Aller-Regular'
  src: url('/fonts/aller/aller_rg-webfont.eot')
  src: url('/fonts/aller/aller_rg-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/aller/aller_rg-webfont.woff') format("woff"), url('/fonts/aller/aller_rg-webfont.ttf') format("truetype"), url('/fonts/aller/aller_rg-webfont.svg#Aller-Regular') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Aller-LightItalic'
  src: url('/fonts/aller/aller_ltit-webfont.eot')
  src: url('/fonts/aller/aller_ltit-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/aller/aller_ltit-webfont.woff') format("woff"), url('/fonts/aller/aller_ltit-webfont.ttf') format("truetype"), url('/fonts/aller/aller_ltit-webfont.svg#Aller-LightItalic') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Aller-LightRegular'
  src: url('/fonts/aller/aller_lt-webfont.eot')
  src: url('/fonts/aller/aller_lt-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/aller/aller_lt-webfont.woff') format("woff"), url('/fonts/aller/aller_lt-webfont.ttf') format("truetype"), url('/fonts/aller/aller_lt-webfont.svg#Aller-LightRegular') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Aller-Italic'
  src: url('/fonts/aller/aller_it-webfont.eot')
  src: url('/fonts/aller/aller_it-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/aller/aller_it-webfont.woff') format("woff"), url('/fonts/aller/aller_it-webfont.ttf') format("truetype"), url('/fonts/aller/aller_it-webfont.svg#Aller-Italic') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Aller-DisplayRegular'
  src: url('/fonts/aller/allerdisplay-webfont.eot')
  src: url('/fonts/aller/allerdisplay-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/aller/allerdisplay-webfont.woff') format("woff"), url('/fonts/aller/allerdisplay-webfont.ttf') format("truetype"), url('/fonts/aller/allerdisplay-webfont.svg#Aller-DisplayRegular') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Aller-BoldItalic'
  src: url('/fonts/aller/aller_bdit-webfont.eot')
  src: url('/fonts/aller/aller_bdit-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/aller/aller_bdit-webfont.woff') format("woff"), url('/fonts/aller/aller_bdit-webfont.ttf') format("truetype"), url('/fonts/aller/aller_bdit-webfont.svg#Aller-BoldItalic') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Aller-Bold'
  src: url('/fonts/aller/aller_bd-webfont.eot')
  src: url('/fonts/aller/aller_bd-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/aller/aller_bd-webfont.woff') format("woff"), url('/fonts/aller/aller_bd-webfont.ttf') format("truetype"), url('/fonts/aller/aller_bd-webfont.svg#Aller-Bold') format("svg")
  font-weight: normal
  font-style: normal
