@font-face 
 font-family: 'DroidSans-Regular'
 src: url('/fonts/droid/DroidSans-webfont.eot')
 src: url('/fonts/droid/DroidSans-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/droid/DroidSans-webfont.woff') format('woff'), url('/fonts/droid/DroidSans-webfont.ttf') format('truetype'), url('/fonts/droid/DroidSans-webfont.svg#DroidSans-Regular') format('svg')
 font-weight: normal
 font-style: normal  
 
@font-face 
 font-family: 'DroidSans-Bold'
 src: url('/fonts/droid/DroidSans-Bold-webfont.eot')
 src: url('/fonts/droid/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/droid/DroidSans-Bold-webfont.woff') format('woff'), url('/fonts/droid/DroidSans-Bold-webfont.ttf') format('truetype'), url('/fonts/droid/DroidSans-Bold-webfont.svg#DroidSans-Bold') format('svg')
 font-weight: normal
 font-style: normal  
 
@font-face 
 font-family: 'DroidSerif-Regular'
 src: url('/fonts/droid/DroidSerif-Regular-webfont.eot')
 src: url('/fonts/droid/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/droid/DroidSerif-Regular-webfont.woff') format('woff'), url('/fonts/droid/DroidSerif-Regular-webfont.ttf') format('truetype'), url('/fonts/droid/DroidSerif-Regular-webfont.svg#DroidSerif-Regular') format('svg')
 font-weight: normal
 font-style: normal  
 
@font-face 
 font-family: 'DroidSerif-Italic'
 src: url('/fonts/droid/DroidSerif-Italic-webfont.eot')
 src: url('/fonts/droid/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/droid/DroidSerif-Italic-webfont.woff') format('woff'), url('/fonts/droid/DroidSerif-Italic-webfont.ttf') format('truetype'), url('/fonts/droid/DroidSerif-Italic-webfont.svg#DroidSerif-Italic') format('svg')
 font-weight: normal
 font-style: normal  

@font-face 
 font-family: 'DroidSerif-Bold'
 src: url('/fonts/droid/DroidSerif-Bold-webfont.eot')
 src: url('/fonts/droid/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/droid/DroidSerif-Bold-webfont.woff') format('woff'), url('/fonts/droid/DroidSerif-Bold-webfont.ttf') format('truetype'), url('/fonts/droid/DroidSerif-Bold-webfont.svg#DroidSerif-Bold') format('svg')
 font-weight: normal
 font-style: normal  

@font-face 
 font-family: 'DroidSerif-BoldItalic'
 src: url('/fonts/droid/DroidSerif-BoldItalic-webfont.eot')
 src: url('/fonts/droid/DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/droid/DroidSerif-BoldItalic-webfont.woff') format('woff'), url('/fonts/droid/DroidSerif-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/droid/DroidSerif-BoldItalic-webfont.svg#DroidSerif-BoldItalic') format('svg')
 font-weight: normal
 font-style: normal
