@import 'form-control'
@import 'form-group'
@import 'input-group'
@import 'sizes'
@import 'styles'

select, textarea, #{$all-text-inputs}, .uneditable-input
  height: inherit
  
 
form *
  @include box-sizing(border-box)
  &:before, &:after
    @include box-sizing(border-box)
    
fieldset
  border: 1px solid #c0c0c0
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em
  padding: 0
  margin: 0
  border: 0  
  
legend
  border: 0
  padding: 0
  display: block
  width: 100%
  padding: 0
  margin-bottom: 20px
  font-size: 21px
  line-height: inherit
  color: #333333
  border: 0
  border-bottom: 1px solid #e5e5e5
  
  
input, select, textarea
  font-family: inherit
  margin: 0
  font-size: inherit
  line-height: inherit
  
input
  line-height: normal

select
  text-transform: none

html input[type="button"]
  @include appearance(button)
  cursor: pointer

input
  &[type="reset"], &[type="submit"]
    @include appearance(button)
    cursor: pointer

html input[disabled]
  cursor: default

textarea
  overflow: auto
  vertical-align: top

input, select[multiple], textarea
  background-image: none

label
  display: inline-block
  font-family: $marketing-theme-font-family

select
  &[multiple], &[size]
    height: auto
  optgroup
    font-size: inherit
    font-style: inherit
    font-family: inherit  
  
.help-block
  display: block
  margin-top: 5px
  margin-bottom: 10px
  color: #737373  

input
  &[type="checkbox"], &[type="radio"]
    @include box-sizing(border-box)
    padding: 0
  &[type="search"]
    @include appearance(textfield) 
    @include box-sizing(content-box) 
    &::-webkit-search-cancel-button, &::-webkit-search-decoration
      @include appearance(none)
  &::-moz-focus-inner
    border: 0
    padding: 0
  &[type="search"]
    @include box-sizing(border-box)
  &[type="radio"], &[type="checkbox"]
    margin: 4px 0 0
    margin-top: 1px \9
    /* IE8-9
    line-height: normal
  &[type="file"]
    display: block
  &[type="file"]:focus, &[type="radio"]:focus, &[type="checkbox"]:focus
    outline: thin dotted #333
    outline: 5px auto -webkit-focus-ring-color
    outline-offset: -2px
  &[type="number"]
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
      height: auto    
  &[type="radio"][disabled], &[type="checkbox"][disabled]
    cursor: not-allowed
    
.radio, .checkbox
  display: block
  min-height: 20px
  margin-top: 10px
  margin-bottom: 10px
  padding-left: 20px
  vertical-align: middle

.radio label, .checkbox label
  display: inline
  font-weight: normal
  cursor: pointer

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]
  float: left
  margin-left: -20px

.radio + .radio, .checkbox + .checkbox
  margin-top: -5px

.radio-inline, .checkbox-inline
  display: inline-block
  padding-left: 20px
  margin-bottom: 0
  vertical-align: middle
  font-weight: normal
  cursor: pointer

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline
  margin-top: 0
  margin-left: 10px

.radio[disabled], .radio-inline[disabled], .checkbox[disabled], .checkbox-inline[disabled]
  cursor: not-allowed

fieldset[disabled]
  input
    &[type="radio"], &[type="checkbox"]
      cursor: not-allowed
  .radio, .radio-inline, .checkbox, .checkbox-inline
    cursor: not-allowed

// Error controls

.has-warning
  .help-block, .control-label
    color: #c09853

.has-error
  .help-block, .control-label
    color: #b94a48

.has-success
  .help-block, .control-label
    color: #468847

@media (min-width: 768px)
  .form-inline
    .radio, .checkbox
      display: inline-block
      margin-top: 0
      margin-bottom: 0
      padding-left: 0
    .radio input[type="radio"], .checkbox input[type="checkbox"]
      float: none
      margin-left: 0

     
      

    


