:javascript
  $('.mod-section').removeClass('mod-section-*').addClass('mod-section-gray')

  

%header.mod-article-header

  .hidden-mobile.image-with-text(data-js="image-loader")

    %img(data-src="/img/themes/pages/4.jpg" src="/img/themes/blank_1200.png")

    %h1.big-text
      %span
        .spacer.pt0.pb0.pl5.pr5
        Contact
        .spacer.pt0.pb0.pl5.pr5 
      %small
        %span
          .spacer.pt0.pb0.pl5.pr5
          Our sales teams are available in Spain, Italy, United Kingdom, 
          .spacer.pt0.pb0.pl5.pr5
          %br
          .spacer.pt0.pb0.pl5.pr5
          Hong Kong, Germany, Romania & Moldova
          .spacer.pt0.pb0.pl5.pr5
          
          %br
          %br
          %form.form.form-inline(style="font-size:1em;")
            .form-group
              %input.form-control(type="email" placeholder="Your email")
            .form-group
              %input.form-control(type="text" placeholder="Your request")
            %button.btn.btn-success(type="submit" style="font-size:.8em;") Contact

%article.mod-article.pt20.pb10      
  %ul.address-list
    %li
      %strong Hong Kong
      %br
      Lippo Centre Tower 1
      %br
      Rm. 1105, 89 Queensway Admiralty
      %br
      T: +(852)-2537-7886
      %br
      F: +(852)-2537-7780
      
    %li
      %strong Madrid
      %br
      Ronda de Poniente, 3
      %br
      28760 Tres Cantos
      %br
      T: +(34)-91-244-3206
      %br
      F: +(34)-91-804-5195

    %li
      %strong London
      %br
      Fourth Floor, 30-31 Furnival Street
      %br
      EC4A 1JQ
      %br
      T: +(44)-
      %br
      F: +(44)-      
      
      
