:javascript
  $('.mod-section').removeClass('mod-section-*').addClass('mod-section-gray')

%header.mod-article-header

  .hidden-mobile.image-with-text(data-js="image-loader")

    %img(data-src="/img/themes/pages/3.jpg" src="/img/themes/blank_1200.png")

    %h1.big-text
      %span
        .spacer.pt0.pb0.pl5.pr5
        Network
        .spacer.pt0.pb0.pl5.pr5      
      %small 
        %span
          .spacer.pt0.pb0.pl5.pr5
          Our own carrier grade service infrastructure
          .spacer.pt0.pb0.pl5.pr5

%article.mod-article.pt20.pb10

  %h1 NETWORK

  %ol.pt10.pb20.ml30
    %li
      %p
        %em Carrier Grade
        QUANTUM TELECOM is a telecommunications group with its own “carrier grade” service infrastructure and is dedicating intensive efforts to R&D around the business. 
    %li
      %p
        %em Independent Agent
        QUANTUM TELECOM is an independent agent whose success depends exclusively on customer satisfaction, focused on the right sales strategy from efficient business model. 
    %li
      %p
        %em Privileged Position  
        QUANTUM TELECOM has a privileged position at global voice carrier business market, providing services to reference customers on their respective markets. 
    %li
      %p
        %em Intensive Networking 
        QUANTUM TELECOM carried out a so intensive networking to ensure the optimal cost structure. Actually, interconnections with incumbent, Tier 1 and MNOs/MVNOs are available for direct termination in more than 75 countries worldwide. Domestic services are offered at Spanish market.

      
    

 
