:javascript
  $('.mod-section').removeClass('mod-section-*').addClass('mod-section-gray')

%header.mod-article-header

  .hidden-mobile.image-with-text(data-js="image-loader")

    %img(data-src="/img/themes/pages/5.jpg" src="/img/themes/blank_1200.png")

    %h1.big-text
      %span
        .spacer.pt0.pb0.pl5.pr5
        Confidence in Relationships
        .spacer.pt0.pb0.pl5.pr5
      %small
        %span
          .spacer.pt0.pb0.pl5.pr5
          Only gaining a stronger business confidence 
          .spacer.pt0.pb0.pl5.pr5
          %br
          .spacer.pt0.pb0.pl5.pr5
          we can grow together
          .spacer.pt0.pb0.pl5.pr5

%article.mod-article.pt20.pb10
    
  %h1 CARRIER TO CARRIER

  %p 

    QUANTUM TELECOM offers consistent, complete and cost effective voice termination services through extremely competitive routing plans and strategic carrier partners. With many direct interconnects and gateway deployments in major international and niche destinations, QUANTUM TELECOM Voice is one of  the preferred carrier services provider in the voice market.
  %p
    QUANTUM TELECOM offers 3 levels of service based on your voice termination requirements: Standard, Premium and Top (with Caller Line Identification)
  %p
    QUANTUM TELECOM is able to provide A-Z termination via Tier1/2 interconnects. Emphasis is given to an optimum routing plan to provide stable ASR’s and ACD’s ensuring that there is sufficient capacity to terminate traffic. Our A-Z product line offers premium quality to all destinations at competitive rates.

