:javascript
  $('.mod-section').removeClass('mod-section-*').addClass('mod-section-gray')

%header.mod-article-header

  .hidden-mobile.image-with-text(data-js="image-loader")

    %img(data-src="/img/themes/pages/3.jpg" src="/img/themes/blank_1200.png")

    %h1.big-text
      %span
        .spacer.pt0.pb0.pl5.pr5
        Solutions
        .spacer.pt0.pb0.pl5.pr5      
      %small 
        %span
          .spacer.pt0.pb0.pl5.pr5
          A scalable, high-availability platform
          .spacer.pt0.pb0.pl5.pr5
          %br
          .spacer.pt0.pb0.pl5.pr5
          that integrates network and systems into the business
          .spacer.pt0.pb0.pl5.pr5

%article.mod-article.pt20.pb10

  %h1 SOLUTIONS

  %ol.pt10.pb20.ml30
    %li
      %p
        %em Offering
        Friendly, powerful and flexible product definition interface. Import / export products, services and pricelist capabilities.
    %li
      %p
        %em Provisioning
        Easily integrated with any client systems. Real-time provisioning, activating and accounting through the complete distribution channel from wholesale customers up to end-users.        
    %li
      %p
        %em Rating
        Real-time multibrand/multilevel rating engine through the complete distribution channel.         
    %li
      %p
        %em Risk Management
        Real-time credit control both on prepaid and postpaid accounts, customized credit limit and automatic alarm generation.
    %li
      %p
        %em Billing
        Customized billing cycles easily integrated with client systems. Capable to manage and program payments from customers to providers, including e-Commerce solution to allow ubicuitous 24 hours operation with automatic and real-time payment registration.
    %li
      %p
        %em Data Warehouse        
        Web secure access to call detail records, balanced scorecards, automatic report generation.

      
    

 
