:javascript
  $(window).load(function() { 
    $('#slider').nivoSlider({
      directionNav: false,       
      controlNav: false,        
      controlNavThumbs: false,  
      pauseOnHover: true,       
      manualAdvance: false,     
      prevText: '<',            
      nextText: '>' 
    }); 
  });
  
%header.mod-article-header

  .hidden-mobile.image-with-text.slider-wrapper.theme-bar
  
    .nivoSlider#slider
    
  
      %img(src="/img/themes/slides/1.jpg" title="#caption-1")              
      %img(src="/img/themes/slides/2.jpg" title="#caption-2") 
      %img(src="/img/themes/slides/3.jpg" title="#caption-3")              
      %img(src="/img/themes/slides/4.jpg" title="#caption-4")     
      %img(src="/img/themes/slides/5.jpg" title="#caption-5") 
      
    .nivo-html-caption#caption-1        
      %h1.big-text
        %span
          .spacer.pt0.pb0.pl5.pr5
          Sustained Growth
          .spacer.pt0.pb0.pl5.pr5  
        %small
          %span
            .spacer.pt0.pb0.pl5.pr5
            More than five years of sustained growth, stable margins and intensive R&D efforts
            .spacer.pt0.pb0.pl5.pr5      
    .nivo-html-caption#caption-2
      %h1.big-text
        %span
          .spacer.pt0.pb0.pl5.pr5
          Stable margins
          .spacer.pt0.pb0.pl5.pr5  
        %small
          %span
            .spacer.pt0.pb0.pl5.pr5
            Stable margins higher than market as a result of operational discipline  
            .spacer.pt0.pb0.pl5.pr5      
    .nivo-html-caption#caption-3
      %h1.big-text
        %span
          .spacer.pt0.pb0.pl5.pr5
          New Markets
          .spacer.pt0.pb0.pl5.pr5  
        %small
          %span
            .spacer.pt0.pb0.pl5.pr5
            Growing into new markets with emerging opportunities, such as Asia & Middle-East
            .spacer.pt0.pb0.pl5.pr5   
    .nivo-html-caption#caption-4
      %h1.big-text
        %span
          .spacer.pt0.pb0.pl5.pr5
          Strategic Alliance
          .spacer.pt0.pb0.pl5.pr5  
        %small
          %span
            .spacer.pt0.pb0.pl5.pr5
            Focusing on strategic alliances development and reinventing current offerings
            .spacer.pt0.pb0.pl5.pr5     
    .nivo-html-caption#caption-5
      %h1.big-text
        %span
          .spacer.pt0.pb0.pl5.pr5
          Strong Leadership
          .spacer.pt0.pb0.pl5.pr5  
        %small
          %span
            .spacer.pt0.pb0.pl5.pr5
            A management team with proven success experience in the Infocom industry 
            .spacer.pt0.pb0.pl5.pr5    
            
           
            
      



%article.mod-article.pt20.pb10

