.badge
  background-color: transparentize(#FFF, .9)

.badge-primary
  background-color: $primary

.badge-neutral
  background-color: $neutral   
  
.badge-info
  background-color: $info

.badge-success             
  background-color: $success     

.badge-danger
  background-color: $danger

.badge-warning
  background-color: $warning

   