@import 'mixins'
@import 'styles'

.btn
  box-shadow: 1px 1px transparentize(#FFF,.9) inset, -1px -1px transparentize(shade(#FFF, 5%),.9) inset, 0 1px 0 transparentize(#000, .4)
  text-shadow: 0 1px 1px transparentize(#000, .25)
  padding: 3px 10px
  text-align: center
  display: inline-block
  cursor: pointer
  border-width: 0
  white-space: nowrap
  font-family: 'Aller-LightRegular', sans-serif
  @include user-select(none)
    
  &:focus 
    outline: thin dotted #333
    outline: 5px auto -webkit-focus-ring-color
    outline-offset: -2px
  
  &:hover,
  &:focus 
    text-decoration: none
  
  &:active,
  &.active 
    outline: 0
    background-image: none
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
  
  &.disabled,
  &[disabled] 
    cursor: not-allowed
    pointer-events: none
    opacity: 0.65 
    filter: alpha(opacity=65)
    box-shadow: none
  
  

  

  

  
