// article
.mod-article *
  text-shadow: 0 1px 0 transparentize(#000,.5)

.mod-article
  height: 100%
  min-height: 100%

.mod-article-header

.mod-article-title
  color: shade($marketing-theme-font-color,5%)
  text-transform: capitalize

  small
    color: transparentize(tint($marketing-theme-font-color,20%),.2)
    text-transform: capitalize


    









