// section
.mod-section 
  height: auto
  display: block
  background-color: $flat-concrete

  .mod-article-header 

    span
      background: transparentize($flat-concrete,.3)  

    img
      border-bottom-color: darken($flat-concrete,10%)

.mod-section-gray
  background-color: $flat-concrete

  .mod-article-header 

    span
      background: transparentize($flat-concrete,.3)

    img
      border-bottom-color: darken($flat-concrete,10%)

.mod-section-green
  background-color: $flat-green-sea

  .mod-article-header 

    span
      background: transparentize($flat-green-sea,.3)

    img
      border-bottom-color: darken($flat-green-sea,10%)

.mod-section-blue
  background-color: $flat-belize-hole

  .mod-article-header 

    span
      background: transparentize($flat-belize-hole,.3)

    img
      border-bottom-color: darken($flat-belize-hole,10%)
        
.mod-section-red  
  background-color: $flat-alizarin  

  .mod-article-header 

    span
      background: transparentize($flat-alizarin,.3)

    img
      border-bottom-color: darken($flat-alizarin,10%)
