// header
.mod-top-nav
  height: $top-nav-height
  text-align: justify
  border-bottom: 
    width: $strip-height 
    style: solid
  @include transform(translate3d(0, 0, 0))  
  @include box-sizing(border-box) 


// header > nav > ul
.mod-top-nav-inner   
  
  li            
    display: inline-block
    float: left

    &:before
      float: right
      content: ""
      display: block
      height: $base-line-height

    &:last-child:before
      border: none        
  
    &:first-child                                                                             
      cursor: pointer

  a
    font-family: $marketing-theme-alt-font-family      

// colors

.mod-top-nav
  color:               $base-color
  background:
    color:             $marketing-theme-color
  border-bottom-color: $marketing-alt-theme-color     
  box-shadow:          0 1px 3px transparentize(#000,.7), 0 1px 0 transparentize(#FFF,.9) inset

.mod-top-nav-inner li:before  
  border:
    left:              1px solid darken($marketing-theme-color,15%)
    right:             1px solid #FFF 


