@import 'pricing/black'
@import 'pricing/blue'
@import 'pricing/brown'
@import 'pricing/firebrick'
@import 'pricing/gold'
@import 'pricing/green'
@import 'pricing/grey'
@import 'pricing/indigo'
@import 'pricing/lime'
@import 'pricing/olive'
@import 'pricing/orange'
@import 'pricing/purple'
@import 'pricing/red'
@import 'pricing/silver'
@import 'pricing/skyblue'
@import 'pricing/slategray'
@import 'pricing/steelblue'
@import 'pricing/teal'
@import 'pricing/violet'
@import 'pricing/yellow'


.pricing-table
  margin-bottom: 20px
  border-radius: 5px
  
  ul
    margin: 0
    padding: 0
    list-style: none

  .pricing-header-row-1
    text-align: center
    height: 40px
    padding: 0
    border-radius: 4px 4px 0 0
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3)
  
  .pricing-header-row-2
    text-align: center
    height: 60px
    margin-top: -1px
    padding: 10px 0 0
    border-bottom: none
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3)
  
  
  .package-title h2
    color: #f9f9f9
    margin: 0
    font-size: 24px
    line-height: 40px
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3), 1px 1px 0 rgba(255, 255, 255, 0.2)
  
  .package-price h1
    color: #f9f9f9
    margin: 0
    font-size: 44px
    line-height: 40px
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3), 1px 1px 0 rgba(255, 255, 255, 0.2)
  
  .cents
    font-size: 16px
    position: relative
    top: -20px
  
  .pricing-content-row-odd
    font-size: 14px
    background-color: #f3f3f3
    padding: 10px 15px
    border-left: 1px solid #aaaaaa
    border-right: 1px solid #aaaaaa
  
  .pricing-content-row-even
    font-size: 14px
    background-color: #fcfcfc
    padding: 10px 15px
    border-left: 1px solid #aaaaaa
    border-right: 1px solid #aaaaaa
  
  .acc-inner
    display: block
    padding: 10px 15px
    border-left: 1px solid #aaaaaa
    border-right: 1px solid #aaaaaa
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.2)
    font-size: 0.7em
    line-height: 1.3em
  
  .pricing-footer
    text-align: center
    height: 60px
    padding: 10px 0 0
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3)
    border-radius: 0 0 4px 4px
  
  .pricing-content-row-even, .acc-inner
    @include transition(all .3s ease-in-out)
  
  .btn
    font-size: 18px
    line-height: 18px
    padding: 10px 20px
    text-shadow: none
    *zoom: 1
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px rgba(0, 0, 0, 0.8)
  
  .acc
    cursor: pointer
  
  .no-bold
    font-weight: normal
    
    
.pricing-table.animate
  @include transition(all .3s ease-in-out)
  
  .pricing-content-row-odd
    @include transition(all .3s ease-in-out)   
    
  &.change-bg ul:hover .pricing-footer
    border-top-color: #a62122
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0)
  &.go-up
    @include transform(translate(0px, 0px))
    &:hover
      @include transform(translate(0, -10px))
  &.add-shadow:hover
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.6)  
