html
  font-size: 112.5%                                      // 1rem = 18px
  @include text-size-adjust(112.5%)

body
  background:
    color: $marketing-theme-background
    image: $marketing-theme-image
  color: $marketing-theme-font-color
  font: 
    size: $base-font-size
    family: $marketing-theme-font-family
  line-height: $base-line-height
  overflow-x: hidden
  
a
  @include transition(all 0.25s ease-in 0s)
  color: darken($marketing-alt-theme-color,25%) 

  &:hover
    color: darken($marketing-alt-theme-color,15%)

a, a:active, a:hover, a:focus                
  text-decoration: none
  
selection
  background: rgb(220,220,220)
  text-shadow: none

::selection:window-inactive                                                     
  color: rgb(50,50,50)

  
.mod-top-nav, .mod-article
  padding:
    left: 200px
    right: 200px

@media all and (max-width: $screen-phone-max)

  .mod-top-nav, .mod-article
    padding:
      left: 10px
      right: 10px

@media all and (min-width: $screen-phone) and (max-width: $screen-tablet-max)

  .mod-top-nav, .mod-article
    padding:
      left: 50px
      right: 50px

.brand 

  *
    display: inline

  a
    font:
      family: $brand-font-family
      size: $h2-font-size
    color: darken($marketing-alt-theme-color, 25%)
    text-shadow: 0 1px 0 transparentize(#FFF, .5)
    @include transition(none)
  
    &:hover
      color: darken($marketing-alt-theme-color,15%)    
           
.big-text
  font:
    size: golden-ratio( $base-font-size, 3 )
    family: 'Aller-Bold', sans-serif
  line-height: 1.5
  text-shadow: 1px 1px 5px transparentize(#000,.5)
  width: 70%    
  
  small
    margin-top: 40px
    
.address-list
  li
    float: left
    padding: 10px
    min-height: 200px
    min-width: 350px
    background-color: darken($flat-concrete,10%)
    box-shadow: 0px 0px 1px darken($flat-concrete,20%)
    margin:
      right: 10px
      bottom: 10px
    @include box-sizing(padding-box)
      
    &:last-child
      right: 0

@media all and (min-width: $screen-phone) and (max-width: $screen-tablet-max)

  .big-text
    font:
      size: golden-ratio( $base-font-size, 2 )
    line-height: 1.25


.image-with-text
  position: relative
  width: 100%

  img
    min-width: 100%
    max-height: 720px
    border-bottom-width: $strip-height
    border-bottom-style: solid

  h1
    @include position(absolute, 10px 0 0 200px)
    
  h2
    @include position(absolute, 300px 0 0 200px)

  span > div
    display: inline-block

@media all and (max-width: $screen-phone-max)

  .image-with-text  

    h1
      @include position(absolute, 10px 0 0 10px)    

@media all and (min-width: $screen-phone) and (max-width: $screen-tablet-max)

  .image-with-text

    img
      //width: 160%    

    h1
      @include position(absolute, 10px 0 0 50px)        



