%nav(role="external")

  %ul.fl
    %li.brand
      %h1
        %a(href="/")
          %img.mr10.fl(style="width:40px;" src="/img/marketing/logo-40x40.png" width="20%")
          %span.fl QUANTUM TELECOM
          

  %ul.mod-top-nav-inner.fr.mt5
  
    %li
      %a.m0.pt10.pl10.pr10.pb0(href="/about" data-theme="blue") About   
    %li
      %a.m0.p10(href="/services" data-theme="green") Services
    %li
      %a.m0.p10(href="/network" data-theme="red") Network
    %li
      %a.m0.p10(href="/solutions" data-theme="red") Solutions      
    %li
      %a.m0.p10(href="/contact" data-theme="gray") Contact         

  