@import 'mq'

=last-col
  display: table-cell
  float: none
  width: auto
  _margin-right: -3px
  _left: -3px
  _position: relative
  *display: block
  *zoom: 1
  &:after
    content: ' . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . '
    clear: both
    display: block
    height: 0 !important
    line-height: 0
    visibility: hidden

.col1of2,
.col1of3, .col2of3,
.col1of4, .col2of4, .col3of4,
.col1of5, .col2of5, .col3of5, .col4of5,
.col1of6, .col2of6, .col3of6, .col4of6, .col5of6
  float: left

.last-col
  +last-col

.col1of1
  float: none
  width: 100%

.col1of2
  width: 50%

.col1of3
  width: 33.33333%

.col2of3
  width: 66.66666%

.col1of4
  width: 25%

.col3of4
  width: 75%

.col1of5
  width: 20%

.col2of5
  width: 40%

.col3of5
  width: 60%

.col4of5
  width: 80%

.col1of6
  width: 16.66666%

.col2of6
  width: 33.33333%

.col3of6
  width: 50%

.col4of6
  width: 66.66666%

.col5of6
  width: 83.33333%

@media all and (max-width: $screen-phone-max)
  .col1of2, .col1of3, .col1of4, .col1of5, .col1of6
    float: none
    width: auto

