// Typography

@mixin text-size-adjust($value)
  @include prefixer(text-size-adjust, $value, moz ms webkit o spec)
  
@mixin tap-highlight-color($value)
  @include prefixer(tap-highlight-color, $value, moz ms webkit o spec)  
  
@mixin font-smoothing($value)
  @include prefixer(font-smoothing, $value, webkit ms) 

@mixin vertical-rythm($size)       
  font-size: $size / $base-font-size +rem  
  line-height: round($base-line-height / $size * 10000) / 10000 + 0.5
  margin:
    top: 2 / ( round($base-line-height / $size * 10000) / 10000 + 0.5 ) +rem
    bottom: 1 / ( round($base-line-height / $size * 10000) / 10000 + 0.5 ) +rem       
    

=center-block
  display: block
  margin-left: auto
  margin-right: auto

=overflow-text
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap   

// Scrolling

=scroll
  &::-webkit-scrollbar
    background: rgba(#fff, .05)
    width: 8px
    height: 8px
  &::-webkit-scrollbar-corner,
  &::-webkit-resizer
    display: none
  &::-webkit-scrollbar-track-piece:disabled
    display: none !important
  &::-webkit-scrollbar:vertical
    border: none
  &::-webkit-scrollbar-thumb:vertical,
  &::-webkit-scrollbar-thumb:horizontal
    background: rgba(#fff, .15)
    border: none
    min-height: 20px
  &::-webkit-scrollbar-thumb:vertical:hover,
  &::-webkit-scrollbar-thumb:horizontal:hover
    background: $firm

// Pseudo Classes

=selection($background, $color)
  &::selection
    background: $background
    color: $color

  &::-moz-selection
    background: $background
    color: $color

// Text and Box Shadows

=ts-letterpress
  text-shadow: 0px 1px 1px #4d4d4d
  color: #222

=ts-emboss
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8)
  color: #333
  opacity: 0.3

=ts-hard
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2)

=ts-inset
  background-color: #666666
  background-clip: text
  color: transparent
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px

=ts-soft-emboss
  color: rgba(0,0,0,0.6)
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3) 

// Helper classes

.is-fixed
  @include position(fixed, 0 0 0 0)
  z-index: 100

  &.to-top
    top: 0px
  &.to-left
    left: 0px
  &.to-right
    right: 0px
  &.to-bottom
    bottom: 0px     

.is-centered
  margin: 0 auto    
    
 


