@import 'mq'

.shown-mobile,
.shown-tablet,
.shown-desktop,
.hidden-mobile,
.hidden-tablet,
.hidden-desktop
  display: none

// For mobile
@media all and (max-width: $screen-phone-max)
  .shown-mobile,
  .hidden-tablet,
  .hidden-desktop
    display: inherit

// For tablet
@media all and (min-width: $screen-phone) and (max-width: $screen-tablet-max)
  .shown-tablet,
  .hidden-mobile,
  .hidden-desktop
    display: inherit

// For desktop
@media all and (min-width: $screen-tablet-max)
  .shown-desktop,
  .hidden-mobile,
  .hidden-tablet
    display: inherit

