.debug-grids
  text-align: center
  cursor: default
  @include clearfix

  .inner-col
    background-color: rgba(#fff, .1)
    border: 1px solid rgba(#fff, .1)
    margin: 0 10px 10px 0
    padding: 10px
    
    &:hover
      background-color: rgba(#fff, .15)

  .last-col .inner-col
    margin-right: 0

@media all and (max-width: $screen-phone-max)
  .debug-grids .inner-col
    margin-right: 0

