/* Make clicks pass-through */
#nprogress 
  pointer-events: none

#nprogress .bar 
  background: $progress-color
  position: fixed
  z-index: 100
  top: $top-nav-height - $strip-height
  left: 0  
  width: 100%
  height: $strip-height

/* blur effect */
#nprogress .peg 
  display: block
  position: absolute
  right: 0px
  width: 10px
  height: 100%
  box-shadow: 0 0 10px $progress-color, 0 0 5px $progress-color
  opacity: 1.0

/* Remove these to get rid of the spinner */
#nprogress .spinner 
  display: block
  position: fixed
  z-index: 100
  top: floor( $top-nav-height / 2 ) - 18px
  right: 15px

#nprogress .spinner-icon 
  width: 18px
  height: 18px
  box-sizing: border-box
  border: solid 2px transparent
  border-top-color: $progress-color
  border-left-color: $progress-color
  border-radius: 50%
  @include animation(nprogress-spinner 400ms linear infinite)

@include keyframes(nprogress-spinner) 
  0% 
    @include transform(rotate(0deg))
  100%
    @include transform(rotate(360deg))
