$baseTint: #e6c200         
$darkerTint: #ffd700       
$lighterTint: #ccac00
$borderTint: #ad9200
$bgTint: #d9b700  
$btnTint: #f4ed97
 

.pricing-table[data-color="gold"]

  .pricing-header-row-1
    background-color: $baseTint
    @include background-image(linear-gradient(top, $darkerTint, $baseTint))
    background-repeat: repeat-x
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='$darkerTint', endColorstr='$baseTint', GradientType=0)
    filter: progid:dximagetransform.microsoft.gradient(enabled=false)
    border: 1px solid $borderTint
  
  .pricing-header-row-2
    background-color: $baseTint
    @include background-image(linear-gradient(top, $darkerTint, $baseTint))
    background-repeat: repeat-x
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='$darkerTint', endColorstr='$baseTint', GradientType=0)
    filter: progid:dximagetransform.microsoft.gradient(enabled=false)
    border: 1px solid $borderTint
    border-bottom: none
  
  .pricing-footer
    background-color: $baseTint
    @include background-image(linear-gradient(top, $baseTint, $lighterTint))
    background-repeat: repeat-x
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='$baseTint', endColorstr='$lighterTint', GradientType=0)
    filter: progid:dximagetransform.microsoft.gradient(enabled=false)
    border: 1px solid $borderTint
  
  .btn-pricing
    color: $btnTint
    background-color: $baseTint
    *background-color: $lighterTint
    @include background-image(linear-gradient(top, $baseTint, $lighterTint))
    background-repeat: repeat-x
    border-color: $baseTint $baseTint $lighterTint
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='$baseTint', endColorstr='$lighterTint', GradientType=0)
    filter: progid:dximagetransform.microsoft.gradient(enabled=false)
    &:hover, &:active, &.active, &.disabled, &[disabled]
      color: $btnTint
      background-color: $lighterTint
      *background-color: $lighterTint
    &:active, &.active
      color: $btnTint
      background-color: $lighterTint
      
.pricing-table[data-color="gold"].animate.change-bg ul:hover
  .pricing-content-row-odd, .pricing-content-row-even
    color: #ffffff
    background-color: $baseTint
    border-left: 1px solid $borderTint
    border-right: 1px solid $borderTint
  .acc-inner
    color: #ffffff
    background-color: $bgTint
    border-left: 1px solid $borderTint
    border-right: 1px solid $borderTint
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 -1px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 0 rgba(255, 255, 255, 0.2)
  .pricing-footer
    border-top-color: $baseTint
    box-shadow: inset 0 0 0 $baseTint    
